body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

/*header*/


header #logoNavegacion{
    position: fixed; 
    background-color: rgba(255, 255, 255, 0.925);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 3px;
    padding-left: 2vw;
    padding-bottom: 1vw;
    width: 100%;
    box-shadow: 0px 2px 0px 0px rgba(189, 188, 188, 0.404);
}



header #logoNavegacion img {
    width: 20vw;
}

header #logoNavegacion nav {
margin-right: 2vw;
margin-bottom: 1vw;
}

header #logoNavegacion nav a{
    text-decoration: none;
    color: rgb(155, 155, 155);
    margin: 1vw;
    padding: 1vw;
    padding-left: 1vw;
    font-size: 3vh;
    border-left: 1px solid black;
    font-weight: bold;

    }

 header #logoNavegacion nav a:hover {
    color:  rgb(0, 0, 0);
    font-weight: bolder;
    }
    
 header a#seleccionadoNav{
  color: rgb(0, 0, 0)!important;
  font-weight: bolder;

        }

 #imagenHeaderJuguetes, #imagenHeaderFarmacia, #imagenHeader, #imagenHeaderContacto{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    box-shadow: 0px 2px 0px 0px rgba(189, 188, 188, 0.404);
    padding-top: 20vh;
     }

 #imagenHeader {
    background: url(../Imagenes/backround1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 72vh;
 }

 #imagenHeaderJuguetes{
    background: url(../Imagenes/jugueteperro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 72vh;
 }

 #imagenHeaderFarmacia{
    background: url(../Imagenes/perros-dolor1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 72vh;
 }
 #imagenHeaderContacto{
    background: url(../Imagenes/fotocontato.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 72vh;
 } 

header #tituloImagen h2{
    margin: 0vh;
    padding: 2vh;
    background-color:rgba(255, 255, 255, 0.555);
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 3vw;
}


/*home*/
header #logoNavegacion .imagenFormulario1{
    width: 10px;
}

#sectionHome{
    display: flex;
    flex-direction: column;
    margin-top: 6vh;
    margin-bottom: 8vh;
    margin-left: 6vw;
    margin-right: 6vw;
   color:  rgb(71, 71, 71);
}

.sectionHomex{
    width: 60vw;
    height: 35vh;
    display: flex;
    margin-bottom: 4vh;
    border: 1px solid rgba(189, 188, 188, 0.582);
    box-shadow: 0vw 0vw 1vw 0vw rgb(219, 218, 218);
}

.sectionHomex:hover{
    width: 65vw;
}

.textoHomex{
    margin-left: 2vw;
    margin-right: 2vw;
    align-self: center;
}

.textoHomex h3{
    color: black;

}



#sectionHome img{
    width: 16vw;
    align-self: center;
    padding: 2vw
}


#sectionHome2, #sectionHome4{
    align-self: flex-end;
}

#sectionHome4 a{
  color: rgb(119, 119, 119);
  border: 1px solid rgb(119, 119, 119);
  border-radius: 10px;
  padding: 1vh;
  padding-right: 1vw;
  padding-left: 1vw;
  font-weight: bolder;
  margin-bottom: 2vh;
  box-shadow: 0vw 0vw 1vw 0vw rgba(255, 255, 255, 0.425);
}

#sectionHome4 a:hover{
    box-shadow: 0vw 0vw 1vw 0vw rgba(112, 112, 112, 0.425);

}

#homeMapa {
display: flex;
flex-direction: column;
margin-top: 6vh;
margin-bottom: 8vh;
padding-top: 2vh;
border-top: 1px solid rgb(71, 71, 71);
margin-right: 15vw;
margin-left: 15vw;
}

#homeMapa h3, #homeMapa iframe {
 align-self: center;
}
#homeMapa iframe {
    box-shadow: 0vw 0vw 1vw 0vw rgba(173, 173, 173, 0.507);

}


/*Footer*/

footer{
background-color: rgb(0, 0, 0);
display: flex;
justify-content: space-between;
padding-top: 1vh;
padding-bottom: 1vw;
}

footer a img#imagenFacebook, img#imagenInstagram {
    height: 3vh;
    margin-left: 1vw;
}

#imagenMail{
    margin-left: 1vw;
    width: 2vw;
}

footer img#imagenC{
   height: 2vh;
   align-self: center;
   margin-right: 1vw;
}

#footerTexto{
    display: flex;
    margin-right: 6vw;
}

#footerTexto p{
    align-self: center;
}


#footerImagenes{
    margin-right: 2vw;
    align-self: center;
}

footer p, a{
    color: white;
    font-size: 12px;
    font-weight: lighter;
    text-decoration: none;
}



#footerLocation div{
    padding: 1vh;
    margin-left: 1vw;
}

#footerLocation div a:hover{
   text-decoration: underline;
}




/*formulario*/

section#formulario {
    width: 70vw;
    margin-left: 15vw; 
   background-color:rgba(192, 192, 192, 0.233);
   margin-bottom: 10vh;
   margin-top: 10vh;
   padding-top: 2vh;
   padding-bottom: 6vh;
   color: rgb(128, 128, 128);
   border-radius: 12vh;
   box-shadow: 0vw 0vw 1vw 0vw rgb(194, 193, 193);
   border: 1px solid rgb(0, 0, 0);
}

section#formulario h3{
text-align: center;
color: rgb(68, 68, 68);
font-size: 5vh;
font-weight: bold;
text-shadow: 2px 2px rgb(255, 255, 255);
margin-bottom: 2vh;


}

#formularioh3{
margin-bottom: 5vh;
color: rgb(0, 0, 0);
margin-right: 18vw;
margin-left: 18vw;
border-bottom: 1px solid rgb(0, 0, 0);
}

#formularioh3 h2{
    text-align: center;
    font-size: 2.5vh;
    font-style: italic;
    color: rgb(104, 104, 104);

}

#formularioDivPrincipal {
    display: flex;
    justify-content: space-around;
}

#formularioDivIzquierda {
    margin-top: 35vh;
    margin-bottom: 35vh;
    border-left: 3px solid rgb(255, 255, 255);
    padding: 3vh;
    padding-bottom: 5vh;
}

#formularioDivIzquierda div{
margin-top: 2vh;
}

#formularioDivIzquierda a{
text-decoration: none;
color: rgb(0, 0, 0);
margin-left: 1vw;
}

#formularioDivIzquierda a:hover{
    text-decoration: underline;
    }

.imagenFormulario{
    width: 13px;
}

.imagenFormulario1{
    width: 9px;
}

#formularioDivDerecha div{
margin-top: 4vh;
}

#formularioDivDerecha div input, textarea{
    margin-top: 1vh;
    padding-top: 1vh;
    padding-right: 10vw;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-radius: 2px;
    box-shadow: 0px 1px 0px 0px  aliceblue;
    background-color: rgba(163, 162, 162, 0);
}

textarea#consulta {
    border: 1px solid rgb(0, 0, 0);

}

#formularioDivDerecha p{
    margin-bottom: 0;
}

#formularioRadious p {
    margin-bottom: 1vh;
}

button {
  margin-left: 32vw;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color:rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 1vh;
  padding-right: 1vw;
  padding-left: 1vw;
  font-weight: bolder;
  margin-top: 4vh;
  margin-bottom: 2vh;
  box-shadow: 0vw 0vw 1vw 0vw rgba(255, 255, 255, 0.425);

}

button:hover{
    color: rgb(255, 255, 255);
    background-color: black;

   
}



/*juguetes*/

#sectionJuguetes{
    width: 90vw;
    margin-left: 1vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-top: 10vh;
    padding-bottom: 5vh;
    padding-left: 3vw;
}

#sectionJuguetes li {
    display: inline-block;
    width: 23%;
    height: 65vh;
    margin-bottom: 5vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    padding: 20px;
    overflow: hidden;
    background-color: white;
    border-radius: 15px;
    border: 1px solid rgba(189, 188, 188, 0.582);
    box-shadow: 0vw 0vw 1vw 0vw rgb(219, 218, 218);
}

#sectionJuguetes h3 {
    font-size: 2.5vh;
    font-weight: bold;
    margin-bottom: 0.5vh;
}

#sectionJuguetes p {
    font-size: 2vh;
}

#app img {
    width: 14vw;
    margin-left: 3vw;
}

#sectionJuguetes li h3, #sectionJuguetes li p,#sectionJuguetes li h4 {
    color: rgb(71, 71, 71);
    text-align: center;
}

#ultimasUnidades p {
    margin-top: 0vh;
    color: rgb(223, 69, 69)!important;
    font-weight: bold;
    font-size: 11px;
}
